@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

:root {
    --font_titulo1: 'Aboreto', cursive;
    --font_titulo2: 'Oswald', sans-serif; 
    
}


 /* Confugurações do corpo*/
body {
    font: normal normal 1em Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    height: 100vh;
}
 /* Configurações em telas maiores*/
@media (max-width:2500px) {
    /* configuração cabeçalho e navegação*/
    header {
        background-color: #0A1494;
        padding: 25px;
        text-align: center;
        font-family: var(--font_titulo2);
    }
    header h1 {
        color: #E04704;
        padding-bottom: 5px;
        text-shadow: 1px 3px 1px black;
        font-variant: small-caps;
        letter-spacing: 1.5px;
    }
    header p {
        color: white;
        text-transform: uppercase;
        text-shadow: 1px 3px 1px black;
        font-family: var(--font_titulo2);
    }
    header p#negrito {
        font-weight: bolder;
        text-transform: none;
    }

    nav {
        display: flex;
        background-color: #1B29E0;
        padding: 15px;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: 2px 2px 2px #00000069;
    }
    nav a {
        color: black;
        padding-top: 5px;
        padding-right: 40px;
        padding-left: 25px;
        padding-bottom: 5px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    nav a:hover {
        position: relative;
        background-color: #ff4400c7;
        border-radius: 20px;
        top: -5px;
        left: 10px;
    }
    /* Configuração da compra*/
    div.container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }

    section.produto {
        padding: 20px;
        text-align: center;
    }
    .produto h2 {
        margin-top: 15px;
        font-family: var(--font_titulo2);
    }

    section.produto img {
        width: 300px;
        height: 260px;
        margin-left: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    #preço  {
        font-size: 1.8em;
    }
    #parcela {
        font-size: 1em;
    }
    /* Configuração da seleção de cores*/
    div#cores {
        display: flex;
        padding: 8px;
        align-items: center;
        font: normal bold 1em Arial, Helvetica, sans-serif;
    }
    select#cor {
        padding: 2px 2px;
        border-radius: 20px;
        text-align: center;
    }
    /*Configuração do botão*/
        #botao {
        display: flex;
        width: 150px;
        height: 50px;
        margin-top: 20px;
        margin-left: 45px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1px solid black;
        box-shadow: 5px 4px 4px 0px #00000041;
    }

    #botao:hover {
        position: relative;
        top: -2px;
        box-shadow: 5px 2px 2px 2px #00000041;
    }

    #botao a {
        color: black;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
}

@media (max-width:500px) {
    /* configuração cabeçalho e navegação*/
    header {
        padding: 20px;
        text-align: center;
    }

    nav {
        display: flex;
        padding: 8px;
        flex-direction: column;
        justify-content: flex-start;
    }
    nav a {
        color: black;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 60px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
        text-decoration: none;

    }

    nav a:hover {
        position: relative;
        background-color: #ff4400c7;
        border-radius: 20px;
        left: 10px;
        
    }
    nav a:last-child {
        border-radius: 30px;
    }
    /* Configuração do produto*/
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    section.produto img {
        background-color: transparent;
        margin-left: 5px;
        width: 260px;
        height: 210px;
        
    }
    /* Configuração preço*/
    #preço  {
        font-size: 1.8em;
    }
    #parcela {
        font-size: 1em;
    }
    /* Configuração da seleção de cores*/
    div#cores {
        padding: 8px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
    }
    select#cor {
        padding: 2px 2px;
        border-radius: 20px;
        text-align: center;
    }
    /*Configuração do botão*/
     #botao {
        display: flex;
        width: 150px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 20px auto 20px auto;
    }
    #botao  a {
        display: inline-block;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }
}

footer {
    background-color: #1B29E0;
    padding: 2px;
    text-align: center;
    font-weight: bolder;
}

footer p {
    display: inline;
}
footer p#p {
    display: block;
}

a#divulgaçao {
    font-size: .6em;
    text-decoration: none;
    color: black;
}
a#divulgaçao:hover {
    text-decoration: underline;
}