@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    
}


 /* Confugurações do corpo*/
body {
    font: normal normal 1em Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    height: 100vh;
}
 /* Configurações em telas maiores*/
@media (max-width:2500px) {
    /* configuração cabeçalho e navegação*/
    header {
        padding: 25px;
        text-align: center;
    }

    nav {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: flex-start;
    }
    nav a {
        color: black;
        padding-right: 40px;
        padding-left: 25px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    div.container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    section.produto img {
        width: 300px;
        height: 300px;
        margin-top: 15px;
        margin-left: 10px;
        border: 1px solid black;
    }
        /* Configuração da seleção de cores*/
        div#cores {
            display: flex;
            padding: 8px;
            align-items: center;
            font: normal bold 1em Arial, Helvetica, sans-serif;
        }
        select#cor {
            padding: 2px 2px;
            border-radius: 20px;
            text-align: center;
        }
        /*Configuração do botão*/
         #botao {
            display: flex;
            width: 150px;
            height: 50px;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }
        #botao a {
            color: black;
            padding: 10px;
            text-align: center;
            text-decoration: none;
        }
}

@media (max-width:500px) {
    /* configuração cabeçalho e navegação*/
    header {
        padding: 25px;
        text-align: center;
    }

    nav {
        display: flex;
        padding: 15px;
        flex-direction: column;
        justify-content: flex-start;
    }
    nav a {
        color: black;
        padding-left: 10px;
        padding-bottom: 15px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    /* Configuração do produto*/
    div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.produto img {
        margin-left: 5px;
        width: 260px;
        height: 300px;
        border: 1px solid black;
    }
    /* Configuração da seleção de cores*/
    div#cores {
        padding: 8px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
    }
    select#cor {
        padding: 2px 2px;
        border-radius: 20px;
        text-align: center;
    }
    /*Configuração do botão*/
     #botao {
        display: flex;
        width: 150px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 20px auto 20px auto;
    }
    #botao  a {
        display: inline-block;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }
}