@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

:root {
    --font_titulo1: 'Aboreto', cursive;
    --font_titulo2: 'Oswald', sans-serif; 
    
}

 /* Confugurações do corpo*/
body {
    font: normal normal 1em Arial, Helvetica, sans-serif;
}

main {
    position: relative;
}
 /* Configurações em telas maiores*/
@media (max-width:2500px) {
    /* configuração cabeçalho e navegação*/
    header {
        background-color: #0A1494;
        padding: 25px;
        text-align: center;
    }
    header h1 {
        color: #E04704;
        padding-bottom: 5px;
        text-shadow: 1px 3px 1px black;
        font-variant: small-caps;
        font-family: var(--font_titulo2);
        letter-spacing: 1.5px;
    }
    header p {
        color: white;
        text-transform: uppercase;
        text-shadow: 1px 3px 1px black;
        font-family: var(--font_titulo2);
    }
    header p#negrito {
        font-weight: bolder;
        text-transform: none;
    }

    nav {
        display: flex;
        background-color: #1B29E0;
        padding: 15px;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: 2px 2px 2px #00000069;
    }
    nav a {
        color: white;
        padding-top: 5px;
        padding-right: 40px;
        padding-left: 25px;
        padding-bottom: 5px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-shadow: 1px 1px 3px black;
    }
    nav a:hover {
        position: relative;
        background-color: #E04704;
        border-radius: 20px;
        top: -5px;
        left: 10px;
    }
    /* Configuração seção de produtos*/
    section.produtos {
        padding: 20px ;
        text-align: center;
    }
    .produtos h2 {
        margin-top: 10px;
        margin-bottom: 15px;
        font-family: var(--font_titulo2);
    }

    section.produtos img {
        width: 150px;
        height: 200px;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .produtos img:hover {

        position: relative;
        top: -15px;
        left: -8px;
        border-bottom: 1px solid black;
    }
    /* Configuração mapa-waze*/
    section.mapa-iframe {
        padding: 10px;
        text-align: center;
    }

    iframe#mapa {
        width: 490px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
 /* Configurações em telas menores*/
@media (max-width:500px) {
    /* configuração cabeçalho e navegação*/
    header {
        padding: 25px;
        text-align: center;
    }

    nav {
        display: flex;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }
    nav a {
        color: white;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 15px;
        width: 60px;
        font: normal bold 1em Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-shadow: 1px 1px 3px black;

    }

    nav a:hover {
        position: relative;
        background-color: #ff4400c7;
        border-radius: 20px;
        left: 10px;
    }
    nav a:last-child {
        border-radius: 30px;
    }
    /* Configuração seção de produtos*/
    section.produtos {
        margin: auto;
        text-align: center;
        
    }

    .produtos img {
        width: 120px;
        height: 200px;
        margin-top: 15px;
        margin-right: 10px;
    }
    /* Configuração mapa-waze*/
    section.mapa-iframe {
        padding: 10px;
        text-align: center;
    }

    iframe#mapa {
        margin-top: 10px;
        width: 289px;
        height: 400px;
    }
}

footer {
    background-color: #1B29E0;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
}

footer p {
    display: inline;
}
footer p#p {
    display: block;
}

a#divulgaçao {
    font-size: .6em;
    text-decoration: none;
    color: black;
}
a#divulgaçao:hover {
    text-decoration: underline;
}

